extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Dashboard
      a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
        i.fas.fa-download.fa-sm.text-white-50
        |  Generate Report
    // Content Row
    .row
      // Earnings (Monthly) Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-primary.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Total 
                .h5.mb-0.font-weight-bold.text-gray-800 #{numOfCompanies}
              .col-auto
                i.fas.fa-building.fa-2x.text-gray-300
      // Earnings (Monthly) Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-success.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Highest Sale
                .h5.mb-0.font-weight-bold.text-gray-800 #{numOfSites}
              .col-auto
                i.fas.fa-sitemap.fa-2x.text-gray-300
      // Earnings (Monthly) Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-info.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-info.text-uppercase.mb-1 Customers
                .row.no-gutters.align-items-center
                  .col-auto
                    .h5.mb-0.mr-3.font-weight-bold.text-gray-800 #{numOfDevices}
                  .col
              .col-auto
                i.fas.fa-desktop.fa-2x.text-gray-300
      // Pending Requests Card Example
      .col-xl-3.col-md-6.mb-4
        .card.border-left-warning.shadow.h-100.py-2
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2
                .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 Users
                .h5.mb-0.font-weight-bold.text-gray-800 #{numOfUsers}
              .col-auto
                i.fas.fa-user.fa-2x.text-gray-300
          // End of Main Content
      .container-fluid
        // Page Heading
        h1.h3.mb-2.text-gray-800 Charts
        p.mb-4
          
        // Content Row
        .row
          .col-xl-8.col-lg-7
            // Area Chart
            .card.shadow.mb-4
              .card-header.py-3
                h6.m-0.font-weight-bold.text-primary Area Chart
              .card-body
                .chart-area
                  canvas#myAreaChart
                hr
                |                   Styling for the area chart can be found in the 
                code /js/demo/chart-area-demo.js
                |  file.
            // Bar Chart
            .card.shadow.mb-4
              .card-header.py-3
                h6.m-0.font-weight-bold.text-primary Bar Chart
              .card-body
                .chart-bar
                  canvas#myBarChart
                hr
                |                   Styling for the bar chart can be found in the 
                code /js/demo/chart-bar-demo.js
                |  file.
          // Donut Chart
          .col-xl-4.col-lg-5
            .card.shadow.mb-4
              // Card Header - Dropdown
              .card-header.py-3
                h6.m-0.font-weight-bold.text-primary Donut Chart
              // Card Body
              .card-body
                .chart-pie.pt-4
                  canvas#myPieChart
                hr
                |                   Styling for the donut chart can be found in the 
                code /js/demo/chart-pie-demo.js
                |  file.
          // /.container-fluid
          // End of Main Content  
                               
      // /.End of datatable
  // /.container-fluid
  // End of Main Content